{block content}  

         
    <div class="col-md-12" >   
            <div class="panel panel-default">
            <div class="panel-heading"> <h4> Profil </h4> </div>                                              
            
            <ul>
            
                <li> Vsetky uzitocne informacie </li>
            
                <li> Statistiky zmien </li>
                
                <li> Pocet hodin </li>
                
                <li> Pocet dovolenky</li>
                
               
            </ul>
            
            
    </div>
    
	

            
       


