{block content}  

    
    
    
 
<div style=" width:96%; margin-left:2%;">


<div class="row panel panel-default" >
		
<div class="col-xs-12 col-md-6 col-sm-12">

	<center><h3> Moje ponuky </h3></center>
	{if $Myoffers->getRowCount()  == 0}

		<center><b> zatial nemate ziadne ponuky </b></center>
	{/if}



	<table id= "myOffers" class="table table-hover text-center">
	{foreach $Myoffers as $offer}	

		{if $offer->recompense}
		
			<tr class="date">
				<td > <b>{$offer->dateA|date:'%d.%m.%Y'} ({$offer->shiftA}) -- {$offer->recompense}  </b></td>
				<td><a n:href="DeleteOffer! $offer->id_offer " >  Odstranit ponuku </a> </td>
			</tr>
			
			<tr>
			<td colspan="2">
				Zaujemcovia:
			</td>
			</tr>
			
				
	
				{foreach $MyActiveCandidates->fetchAll() as $candidate}
					{if $candidate->id_offer == $offer->id_offer && $candidate->username != ""}
						<tr>
							<td>{$candidate->username}</td>
						{if $candidate->accepted_user == 0 } 
						<td>
							<span class="glyphicon glyphicon-remove" style="color:red;">user </span>
							<a n:href="AcceptCandidate! $candidate->id_candidate , $candidate->id_offer" >  prijat </a> 
						</td>
						{else}
							<td>
								<span class="glyphicon glyphicon-ok" style="color:green;">user </span>
								<a n:href="RefuseCandidate! $candidate->id_candidate" >  zrusit </a> 
							</td>
						{/if}	
					
					{/if}
					
					
				{/foreach}

				
		
		
				
		
		{else}
			{$offer->dateA|date:'%d.%m.%Y'} ({$offer->shiftA}) -- {$offer->dateB|date:'%d.%m.%Y'} ({$offer->shiftB})  
				<tr><td> <a n:href="DeleteOffer! $offer->id_offer " >  Odstranit ponuku </a> </td></td>
		{/if}
		
		
	{/foreach}
	</table>

		<center>
		<button type="button" class="btn btn-default btn-md"  style="margin-bottom:5px;" data-toggle="modal" data-target="#myModal">
			<span class="glyphicon glyphicon-import aria-hidden="true"></span> Vlozit ponuku
		</button></center>  <br>
	
	

</div>
<div class="col-xs-12 col-md-6 col-sm-12">
	
	<center><h3> Moje ziadosti o smeny </h3></center>

	{if $myCandidates->getRowCount()  == 0}
			
		<center><b> zatial nemate ziadne ziadosti </b></center>
	
	{/if}
		
	<table class="table table-hover text-center">
	{foreach $myCandidates as $candidate}

		<tr>
			<td>
			{$candidate->dateA|date:'%d.%m.%Y'} ({$candidate->shiftA}) -- {$candidate->dateB|date:'%d.%m.%Y'} ({$candidate->shiftB}) {$candidate->username} 
			</td>
			<td>
			{if $candidate->accepted_user == 0} 
				<span class="glyphicon glyphicon-remove" style="color:red;">user </span>
			{else}
				<span class="glyphicon glyphicon-ok" style="color:green;">user </span>
			{/if}
			</td>
			<td>				
			{if $candidate->accepted_majster == 0} 
				<span class="glyphicon glyphicon-remove" style="color:red;">majster </span>
			{/if}
			</td>
			<td>
			<a n:href="DeleteCandidate! $candidate->id_candidate" > <button> Zrusit ziadost </button></a> 
			<td>
		</tr>

	{/foreach}	
	</table>
	
	
	</div> 












<div class="col-xs-12 col-md-12 col-sm-12">
	
	<h3> Vsetky ponuky</h3>


	<table class="table table-striped text-center" >       
		<tr><td> Ponuka </td><td> Za </td><td> Pracovnik </td></tr>
	
	
		 
		{foreach $deals1 as $deal}	
		
			{if $deal->id_user != $user->getIdentity()->id_user}		
				
				<tr class="tr_link" data-toggle="modal" onclick="myShow({$deal->id_offer})">
						{if $deal->recompense}
					
							<td>{$deal->dateA|date:'%d.%m.%Y'} ({$deal->shiftA})</td><td>{$deal->recompense}</td>
							<td>{$deal->username}</td></tr>

						{else}
							
							<td>{$deal->dateA|date:'%d.%m.%Y'} ({$deal->shiftA})</td><td>{$deal->dateB|date:'%d.%m.%Y'} ({$deal->shiftB})</td>
							<td>{$deal->username}</td>
						{/if}						
				</tr> 
			{/if}	
		{/foreach}

    </table>
  
 </div>   
 </div>   
    
 
 
 
 
 </div>        

	
	
<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker12"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>
</div>
	
	
	
	
	
	
	
	
	
	

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Vytvorit ponuku </h4>
      </div>
      <div class="modal-body">
       
       {control registrationForm}
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
	
		




	{foreach $deals2 as $deal}	

		

		<div id="myModal{$deal->id_offer}"  class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog" role="document">
				
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Zmena</h4>
					</div>
					


					<div class="modal-body">
						
						{if $deal->recompense}
					
							Prijmam nadcas <b>{$deal->dateA|date:'%d.%m.%Y'}</b> na  <b>{$deal->shiftA}</b> smenu namiesto 
							{$deal->username}

						{else}
							
							Prijdem <b>{$deal->dateA|date:'%d.%m.%Y'}</b> na smenu: <b>{$deal->shiftA}</b>. <br> 
							Vzdavam sa <b>{$deal->dateB|date:'%d.%m.%Y'}</b> smeny: <b>{$deal->shiftB}</b>. <br> 
							Vymena s {$deal->username}. 
						{/if}
					
					<br><br>
					<i> Platnost vymeny nastava potvrdenim navrhovatela a majstra.</i>
	
					</div>
					

					<div class="modal-footer">
						
						<a n:href="newCandidate! $deal->id_offer" >
						<button type="button" class="btn btn-primary">Ziadat zmenu</button></a>
						<button type="button" class="btn btn-default" data-dismiss="modal">Spat</button>

					</div>
				</div><!-- /.modal-content -->
			

			</div><!-- /.modal-dialog -->
		</div>
		
	{/foreach}



 <script>
    function myShow($id)
    {
		

       $('#myModal'+$id).modal('show');    

    }

//	<a n:href="changeVariable! ahoj" class="ajax" >Change variable!</a>

</script>          
       


