<!DOCTYPE html>
<html lang="en">
<head>
  

  	<title>MyContinental</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" media="screen">


    <link href="{$basePath}/style.css" rel="stylesheet" media="screen">


	<link rel="shortcut icon" href="{$basePath}/images/favicon.ico" type="image/x-icon"> 

</head>
<body>



{if $user->isLoggedIn()}


{foreach $flashes as $flash }


<div class="row panel panel-default" onclick="$(this).fadeOut()" id="flash" >		
<div class="col-xs-12 col-md-12 col-sm-12">


	{$flash->message}

</div>
</div>
{/foreach}

	
	
<nav class="navbar navbar-inverse" style="background-color:orange; border-color:orange; border-radius:0px;">
  <div class="container-fluid" id="headerr">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button"  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="border-color:black;" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color:black;"></span>
        <span class="icon-bar" style="background-color:black;"></span>
        <span class="icon-bar" style="background-color:black;"></span>
      </button>
      <a class="navbar-brand" href="{link Homepage:}"><img style="height:30px; margin-top:-5px;" alt="Brand" src="{$basePath}/images/continental_logo.png"> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
 			
			                             
         
            {if ($user->isInRole('majster'))}
            
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{link Homepage:}"> <span class="glyphicon glyphicon-list-alt"> </span>  Novinky </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{link Calendar:}"> <span> </span> <span class="glyphicon glyphicon-calendar"></span>  Moj kalendar </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{link Workers:}"> <span> </span> <span class="glyphicon glyphicon-star"></span> Pracovnici </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{link Configuration:}"> <span class="glyphicon glyphicon-cog"> </span>  Konfiguracia </a></li>
                </ul>
                
                
                
                
            {/if}
            {if ($user->isInRole('worker'))}
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{link Attendance:}"> <span class="glyphicon glyphicon-time"> </span> Dochadzka </a></li>
                    <li><a href="{link Calendar:}"> <span class="glyphicon glyphicon-calendar"></span> Pracovny kalendar</a></li>
                    <li><a href="{link Market:}"> <span class="glyphicon glyphicon-retweet"> </span> Burza smien </a></li>
                    <li><a href="{link Canteen:}"> <span class="glyphicon glyphicon-cutlery"> </span> Stravovanie </a></li>
                
                </ul>
  
            {/if}



            <ul class="nav navbar-nav navbar-right">
                {if $user->isLoggedIn()}  
                    <li><a  href="{link Profile:}"><span class="glyphicon glyphicon-user"></span> {$user->getIdentity()->getId()}</a></li> 
                    <li><a href="{link Sign:out }"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                {else}
                    <li><a href="{link Sign:in }"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>    
                {/if}
                
            </ul>  
  
  
  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  




{/if}



	{include content}





</body>
</html>
