{block content}
<h3 class="text-muted">Clients</h3>
<a n:if="$user->isAllowed('Client', 'add')" href="{link Client:add}" class="btn btn-info" role="button">Add new client</a><br>
<br>
{control clientGrid}
{/block}