{block content}
<h3 class="text-muted">Client details</h3>
<p>Name: {$client->name}</p>
<p>Email: {$client->email}</p>
<p>Address: {$client->address}</p>
<p>Telephone: {$client->telephone}</p>
<p>Bank account number: {$client->bankAccountNumber}</p>
<br>

<a  n:if="$user->isAllowed('Job', 'create')" href="{link Job:create $client->id}" class="btn btn-info" role="button">Create new job</a>
<a  n:if="$user->isAllowed('Client', 'edit')" href="{link Client:edit $client->id}" class="btn btn-info" role="button">Edit</a><br>
<br>
<h4 class="text-muted"> Client's jobs</h4>
{control clientJobsGrid}
{/block}