{block content}  

         
    
    <div class="col-md-8 col-md-offset-2"  >   
		<div class="panel panel-default">
			<div class="panel-heading"> <h4> Tento tyzden podavame </h4> </div>                                              
            
            <div style="padding:10px;">
	
				<table class="table" id="table_food">
					<tr><td colspan="2"> <center> <h3>Pondelok</h3> </center></td> </tr>
					
					{foreach $monday as  $food}					
						<tr><td> <h4> {$food->name }</h4>  {$food->notes } </td> <td> <img src ="{$basePath}/images/{$food->foto }" > </td>  </tr>
					{/foreach}        
					
					<tr><td colspan="2"> <center> <h3>Utorok</h3> </center></td> </tr>
					
					{foreach $tuesday as  $food}					
						<tr><td> <h4> {$food->name }</h4> <br> {$food->notes } </td> <td> <img src ="{$basePath}/images/{$food->foto }" > </td>   </tr>
					{/foreach}        
					
					<tr><td colspan="2"> <center> <h3>Streda</h3> </center></td> </tr>
					
					{foreach $wednesday as  $food}					
						<tr><td> <h4> {$food->name }</h4> <br> {$food->notes } </td> <td> <img src ="{$basePath}/images/{$food->foto }" > </td>   </tr>
					{/foreach}        
					
					<tr><td colspan="2"> <center> <h3>Stvrtok</h3> </center></td> </tr>
					
					{foreach $fourday as  $food}					
						<tr><td> <h4> {$food->name }</h4> <br> {$food->notes } </td> <td> <img src ="{$basePath}/images/{$food->foto }" > </td>   </tr>
					{/foreach}        
					
					<tr><td colspan="2"> <center> <h3>Piatok</h3> </center></td> </tr>
					
					{foreach $friday as  $food}					
						<tr><td> <h4> {$food->name }</h4> <br> {$food->notes } </td> <td> <img src ="{$basePath}/images/{$food->foto }" > </td>   </tr>
					{/foreach}        
	     

				
				<table>
				
				
            </div>
		</div>        
    </div>
	

            
       


