{block content}
<h3 class="text-muted">Job detail</h3>
<p>Name: {$job->name}</p>
<p>Description: {$job->description}</p>
<p>State: {$jobState}</p>
<p>Client: <a href="{link Client:detail $client->id}">{$client->name}</a></p>
<p>Responsible employee: {if $user->isAllowed('Employee', 'detailOther')} <a href="{link Employee:detail $responsibleEmployee->id}">{$responsibleEmployee->name}</a>{else}{$responsibleEmployee->name}{/if}</p>
<br>

<a n:if="$user->isAllowed('Job', 'addRequirement')" href="{link Job:addRequirement $job->id}" class="btn btn-info" role="button">Add new requirement</a>
<a n:if="$user->isAllowed('Job', 'edit')" href="{link Job:edit $job->id}" class="btn btn-info" role="button">Edit</a><br>
<br>
<h4 class="text-muted"> Job's requirements</h4>
{control jobRequirementsGrid}
<h4 class="text-muted"> Job's invoices</h4>
{control jobInvoicesGrid}

{/block}