{block content}
<h3 class="text-muted">Invoice detail</h3>
<p>Number: {$invoice->id}</p>
<p>State: {$invoiceState}</p>
<p>State change date: {$invoice->stateChangeDate |date:'d.m.Y'}</p>
<p>Issuance date: {$invoice->issuanceDate |date:'d.m.Y'}</p>
<p>Expiry date: {$invoice->expiryDate |date:'d.m.Y'}</p>

<a n:if="(($invoice->state != 1) && (($user->id == $invoice->issuer) || ($user->isAllowed('Job', 'issueAnInvoiceOther'))))" href="{link Job:setInvoiceState $invoice->id, $invoiceStatePayed}" class="btn btn-success" role="button">Payed</a><br>

{/block}