{block content}
<h3 class="text-muted">Requirement detail</h3>
<p>Specification: {$requirement->specification}</p>
<p>State: {$requirementStates[$requirement->state]}</p>
<p>State Change Date: {$requirement->stateChangeDate |date:'d.m.Y'}</p>
<p>Cost: {$requirement->cost}</p>
<p>Type: {$requirementTypes[$requirement->type]}</p>
{foreach $requirementDetails as $detailName => $detailValue}
    {if $detailValue != NULL}
        <p>{$detailName|capitalizeAndSplit}: {$detailValue}</p>
    {/if}
{/foreach}
<br>
<a n:if="$user->isAllowed('Job', 'editRequirement')" href="{link Job:editRequirement $requirement->id}" class="btn btn-info" role="button">Edit</a>

{/block}