{block content}  

         
    <div class="col-md-12" >   
            <div class="panel panel-default">
            <div class="panel-heading"> <h4> Konfiguracia </h4> </div>                                              
            
            <ul>
                <li>Nastavenie aktualnej smeny</li>
                
                <li>Nstavenie sviatkov</li>
                
                <li>Nastavenie odstavky</li>
                
                <li>Vlozenie XLS rozvrhu smien</li>
                
            </ul>
            
            
    </div>
       
            
       
 
 
 