

#headerr a{

    font-weight: ;
    color: black;

}


.tr_link:hover{

	color: #8CDEEE;
	cursor: pointer;

}


.modalll{

	background-color: ;
	width:80%;
	height:100%;

}


#attendaceTable td,th{

	text-align:center;

}

#table_food img{

	width:100px;
	margin-top:5px;
}

#table_food td{
	
	padding-top:0px;
	
}


