{block content}  

    
    
    

<div class="row panel panel-default" style="margin:1%; padding:1%;">
		
<div class="col-xs-12 col-md-12 col-sm-12">

				
	{foreach $workers->fetchAll() as $worker}

		{$worker->username} <br>

	{/foreach}


	<br><br>

	{foreach $candidates->fetchAll() as $candidate}

		{$candidate->username}  <a n:href="AcceptCandidate! $candidate->id_user" >  prijat </a>        <br>

	{/foreach}



   

</div>
</div>

