{block content}  

         
    <div class="col-md-12" >   
            <div class="panel panel-default">
            <div class="panel-heading"> <h4> Moj kalendar </h4> </div>                                              
             <center> <img src="{$basePath}/images/calendar.png" width="40%"></center>
    </div>
       
            
       
 
 
 