{block content}

 

<div class="row"  style="border:0px black solid;">
    <div class="col-md-6 text-center" >   
            <center>      
            <div class="panel panel-default">
            <div class="panel-heading"> <h4> Pracovnici na smene </h4> </div>
            
            <table  class="table" style="width:50%;">
                <tr><th class="text-center">Meno</th> <th class="text-center">Smena</th></tr>                                                            
                {foreach $users as $one_user}
                <tr>
                    <td class="text-center">{$one_user->name} {$one_user->surname} </td>
                    <td class="text-center">{$one_user->shift}</td>
                    <!-- <td class="text-center"><a href="{link Users:delete $one_user->name}">delete</a> </td> -->  
                </tr>
                {/foreach}                          
            </table>
            </div>
            </center>   
            
            
    </div>
    
    
    <div class="col-md-6" text-center   >   
            <center>
            <div class="panel panel-default">
            <div class="panel-heading"> <h4> Ponuky  </h4> </div>            
            <table  class="table" style="width:50%;">                                                            
                <tr><th class="text-center">Datum</th><th class="text-center">Osoba</th> <th class="text-center">Smena</th> <th class="text-center">Odmena</th></tr>                                                            
     
                {foreach $deals as $deal}
                <tr>
                
                    <td class="text-center">{$deal->date |date:'%d.%m.%Y' }  </td>
                    <td class="text-center">{$deal->id_proposer}  </td>
                    <td class="text-center">{$deal->shift} </td>
                    <td class="text-center">{$deal->recompense}  </td>
                    
                    
                </tr>
                {/foreach}
            </table>
            </div>
            </center>
        
            
    </div>


</div>
