{block content}

<div  style="  max-width: 100% ; height:100vh;  background-color:black; ">




<center>

	<img width="60%" src="{$basePath}/images/continental-logo.png" > 

	<div style="padding-top:0%;"> 
		{control signInForm}
	</div>
	
</center>



</div>
