{block content}  

         
<div class="panel panel-default" style="margin:1%;">
  <div class="panel-heading" class="col-md-12"> 
		<center> 
	
			<a n:href="GetMonth! $month-1, $year" class="col-md-4" > <span class=" glyphicon glyphicon-chevron-left"> Prechadzajuci </a> 

			<span class="col-md-4"><b >{$month_l} {$year} </b> </span>  
			<a n:href="GetMonth! $month+1, $year" class="col-md-4"> Nasledujuci &nbsp; <span class=" glyphicon glyphicon-chevron-right"> </a> 
		
		</center>
		<br>
	</div>

  <table class="table" id="attendaceTable">
					<thead>
						<tr><th> Datum prichodu  </th>  <th> Cas prichodu</th><th>Datum odchodu </th>  <th>  Cas odchodu </th>  </tr>		
					</thead>
					<tbody>
					
					{foreach $myAttendance as $attendance}
						<tr> 
				
							<td> {$attendance->day_A.'.'. $attendance->month_A.'.'.$attendance->year_A}  </td> 
							
							<td> {$attendance->time_A->format("%H:%I:%S")} </td>  
							<td> {$attendance->day_B.'.'. $attendance->month_B.'.'.$attendance->year_B}  </td>  
							<td> {$attendance->time_B->format("%H:%I:%S")} </td>  
						
				
						</tr>

			
					{/foreach}	
					
					
					</tbody>
  </table>
  
  <div style="padding-left:10%;">
	<h3>Pocet odpracovanych hodin: {$month_hours_sum}  </h3>
  
  </div>
  
  
</div>
            
       


